
<div class="panel panel-primary sidebar">
	<div class="panel-heading">
		<center> <h4>Filters</h4></center>
	</div>
	<div class= "panel-body">
	  <div class="container">
	  <div class="panel sidebar">
	  	<div class="panel-heading">
	  		<center>  Categories</center>
	  	</div>
	 
		  <div class="panel-body">
		   	<table class="table">
					<%@categories.each do |category|%>
						<tr><td><center><%= check_box_tag "category"%><%= category.name %></center></td></tr>
					<%end%>
				</table>
			</div>		
			</div>
			<div class="panel sidebar">
	  	<div class="panel-heading">
	  		<center>  Price</center>
	  	</div>
	 
		  <div class="panel-body">
		   	<table class="table">
						<tr><td><center><%= check_box_tag "category"%>Below 500</center></td></tr>
						<tr><td><center><%= check_box_tag "category"%>Below 1000</center></td></tr>
						<tr><td><center><%= check_box_tag "category"%>Below 1500</center></td></tr>
				</table>
			</div>		
	</div>
</div>
